WIFI.Sisharp.Training.WCFClient/Connected Services/localhost/MathService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MathService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64700/MathService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64700/MathService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64700/MathService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wifi.sisharp.training.wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMathService_Calc_InputMessage">
    <wsdl:part name="parameters" element="tns:Calc" />
  </wsdl:message>
  <wsdl:message name="IMathService_Calc_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="IMathService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IMathService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IMathService">
    <wsdl:operation name="Calc">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/Calc" message="tns:IMathService_Calc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/CalcResponse" message="tns:IMathService_Calc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/GetCountries" message="tns:IMathService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/GetCountriesResponse" message="tns:IMathService_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/GetDataUsingDataContract" message="tns:IMathService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/GetDataUsingDataContractResponse" message="tns:IMathService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMathService" type="tns:IMathService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calc">
      <soap:operation soapAction="http://tempuri.org/IMathService/Calc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/IMathService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IMathService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathService">
    <wsdl:port name="BasicHttpBinding_IMathService" binding="tns:BasicHttpBinding_IMathService">
      <soap:address location="http://localhost:64700/MathService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>